*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI', sans-serif;
}

body{
    background:#eef2f7;
    color:#333;
}

/* HEADER */
header{
    position:fixed;
    top:0;
    width:100%;
    padding:15px 40px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#ffffff;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
    z-index:100;
}

.brand{
    color:#2c3e50;
}

nav a{
    margin-left:20px;
    text-decoration:none;
    font-weight:600;
    color:#34495e;
}

nav a:hover{
    color:#1e90ff;
}

/* HERO */
.hero{
    min-height:100vh;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:120px 10%;
    background:linear-gradient(135deg,#74ebd5,#acb6e5);
    color:#2c3e50;
}

.hero-image{
    width: 250px;
    height: 250px;
    border-radius:50%;
    border:5px solid white;
}

.hero-image img{
    width: 250px;
    height:250px
    border-radius: 50%;
    object-fit:cover;
}

/* SECTIONS */
.section{
    padding:90px 10%;
    text-align:center;
}

.glass{
    background:white;
    border-radius:20px;
    box-shadow:0 8px 20px rgba(0,0,0,0.1);
}

/* SKILLS */
.skills-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(230px,1fr));
    gap:20px;
    margin-top:30px;
}

.skill-card{
    background:#f0f4ff;
    padding:20px;
    border-radius:15px;
}

/* CERTIFICATES */
.certificate-container{
    max-width:800px;
    margin:auto;
}

.certificate-card{
    background:#e8f0fe;
    padding:25px;
    border-radius:15px;
    margin-top:20px;
}

.certificate-card a{
    display:inline-block;
    margin-top:10px;
    padding:8px 20px;
    background:#1e90ff;
    color:white;
    border-radius:20px;
    text-decoration:none;
}

/* FOOTER */
footer{
    background:#2c3e50;
    color:white;
    text-align:center;
    padding:15px;
}

/* SCROLL */
.scroll{
    opacity:0;
    transform:translateY(30px);
    transition:0.8s;
}
.scroll.show{
    opacity:1;
    transform:translateY(0);
}

/* MOBILE */
@media(max-width:768px){
    .hero{
        flex-direction:column-reverse;
        text-align:center;
    }
    nav{
        display:none;
    }
}
